.active {
  color: red;
}

.header {
  display: flex;
  width: 100%;
  padding: 25px 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.headerList {
  display: flex;
  gap: 20px;
  padding-left: 40px;
}

.link {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  position: relative;
}

.link:after {
  display: block;
  position: absolute;
  left: 0; 
  width: 0; 
  height: 4px; 
  border-radius: 8px;
  background-color: rgba(85, 26, 139, 0.8); 
  content: "";
  transition: width 500ms ease-out;
}

.link:hover:after,
.link:focus:after {
  width: 100%; 
}


